---
import { Button } from '@/components/ui/button'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <h1>Welcome</h1>
  <Button>Click me</Button>
</Layout>

<script>
  import wiki from 'wikijs'

  const myWiki = wiki() as { page: (title: string) => Promise<any> }

  myWiki
    .page('Batman')
    .then((page) => page.info('alterEgo'))
    .then(console.log) // Bruce Wayne
</script>
