---
import { SectionTabs } from './atoms/SectionTabs'

// const { data: heroes, error: heroesError } = await actions.getHeroes()
// const { data: items, error: itemsError } = await actions.getItems()
// if (heroesError || itemsError) throw new Error('Error fetching data')

import heroes from '@/data/heroes.json'
import items from '@/data/items.json'

const groupByType = items.reduce((acc: any, item) => {
  acc[item.type] = [...(acc[item.type] || []), item]
  return acc
}, {})

for (const type in groupByType) {
  const groupByPrice = groupByType[type].reduce((acc: any, item) => {
    acc[item.price] = [...(acc[item.price] || []), item]
    return acc
  }, {})
  groupByType[type] = groupByPrice
}

console.log(groupByType)
---

<main class='py-8 flex-grow'>
  <SectionTabs client:load heroes={heroes} items={items} />
</main>
