---
import heroes from '@/data/heroes.json'
import { actions } from 'astro:actions'
import { SectionTabs } from './atoms/SectionTabs'

// const { data: heroes, error: heroesError } = await actions.getHeroes()
// const { data: items, error: itemsError } = await actions.getItems()
// if (heroesError || itemsError) throw new Error('Error fetching data')

const { data: items, error: itemsError } = await actions.getItems()
if (itemsError) throw new Error('Error fetching data')
---

<main class='py-8 flex-grow'>
  <SectionTabs client:load heroes={heroes} items={items} />
</main>
