---
import { Image } from 'astro:assets'

import { Moon, Sun } from 'lucide-react'
import { LoginButton } from './atoms/LoginButton'
import { Switch } from './ui/switch'

let isDarkMode = true

const path = Astro.url.pathname
---

<nav class='border-b border-black/20 dark:border-white/20 py-4'>
  <div class='flex justify-between items-center'>
    <div class='flex items-center'>
      <Image src='/logo.svg' alt='Logo' width={100} height={40} class='mr-2' />
      <span class='text-xl font-bold'></span>
    </div>
    <div class='flex items-center space-x-2 gap-8'>
      <ul class='flex space-x-4 *:min-w-16'>
        <li
          class:list={['hover:underline', { 'font-bold': path === '/heroes' }]}
        >
          <a href='/heroes'>Heroes</a>
        </li>
        <li
          class:list={['hover:underline', { 'font-bold': path === '/items' }]}
        >
          <a href='/items'>Items</a>
        </li>
      </ul>
      <div class='flex items-center space-x-1'>
        <Sun
          className='h-[1.2rem] w-[1.2rem] text-gray-400 dark:text-gray-500'
        />
        <Switch checked={!isDarkMode} aria-label='Toggle dark mode' />
        <Moon
          className='h-[1.2rem] w-[1.2rem] text-gray-400 dark:text-gray-500'
        />
      </div>
      <LoginButton client:load />
    </div>
  </div>
</nav>
