---
import Footer from '@/components/Footer.astro'
import Navbar from '@/components/Navbar.astro'
import '@/styles/globals.css'

interface Props {
  title: string
}

const { title } = Astro.props
const isDarkMode = true
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class:list={[
      {
        dark: isDarkMode,
      },
    ]}
  >
    <main
      class='bg-white dark:bg-black text-black dark:text-white min-h-screen flex flex-col max-w-4xl mx-auto'
    >
      <Navbar />
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  body {
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
  }
</style>
